<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>A request to renew your membership has been successfully sent</span>!</h1>
    <div>
        <span>Your username: </span>
        <span th:text="${alephPatronBarcode}"></span>
    </div>
    <div>
        <p th:if="${!isCasEmployee}">Here is your <a href="#">link</a> for payment.</p>
        <p>
            <span th:if="${!isCasEmployee}">After paying the fee, your membership will be extended until</span>
            <span th:if="${isCasEmployee}">Your membership will be extended until</span> <b th:text="${membershipExpiryDate}"></b>.
        </p>
    </div>
</body>
</html>
