<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="body-bottom">
    <!-- TailwindCSS, Flowbite scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

    <!-- Filepond scripts -->
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.min.js"></script>
    <script
        src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.min.js"></script>
    <script
        src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.min.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>

    <!-- autocomplete.js -->
    <script src="/bankid-registrator/assets/dist/vendor/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>

    <!-- Custom scripts -->
    <script type="module" src="/bankid-registrator/assets/dist/js/main.js"></script>

    <!-- Translations script -->
    <script th:inline="javascript">
        var translations = {
            "loader.newRegistration.validatingData": /*[[#{loader.newRegistration.validatingData}]]*/,
            "loader.newRegistration.creatingIdentity": /*[[#{loader.newRegistration.creatingIdentity}]]*/,
            "loader.newRegistration.savingData": /*[[#{loader.newRegistration.savingData}]]*/,
            "loader.newRegistration.done": /*[[#{loader.newRegistration.done}]]*/,
            "loader.submittingData": /*[[#{loader.submittingData}]]*/,
            "alert.rfidAlreadyExists": /*[[#{alert.rfidAlreadyExists}]]*/,
            "alert.rfidIsAvailable": /*[[#{alert.rfidIsAvailable}]]*/,
            "alert.rfidCheckFailed": /*[[#{alert.rfidCheckFailed}]]*/,
            "alert.emailAlreadyInUse": /*[[#{alert.emailAlreadyInUse}]]*/,
            "alert.emailIsAvailable": /*[[#{alert.emailIsAvailable}]]*/,
            "alert.emailCheckFailed": /*[[#{alert.emailCheckFailed}]]*/,
            "alert.casEmployeesFormRequirements": /*[[#{alert.casEmployeesFormRequirements}]]*/,
        };
    </script>
</div>

</html>