<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <footer th:fragment="footer" class="fixed bottom-0 left-0 z-20 w-full bg-white border-t border-gray-200 md:flex md:items-center md:justify-between print:hidden no-print">
        <div class="w-full mx-auto max-w-screen-xl p-4 flex flex-col md:flex md:flex-row md:items-center md:justify-between gap-2 text-center">
            <span class="text-sm text-gray-500 dark:text-gray-400">© <span th:text="${#dates.year(#dates.createNow())}"></span> <a href="https://www.lib.cas.cz/" target="_blank" class="hover:underline">LIBCAS</a>
        </span>
        <ul class="flex flex-col flex-wrap md:flex-row items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 md:mt-0 gap-2 md:gap-5">
            <!-- <li>
                <a href="/bankid-registrator/identity/reset-password-request" class="hover:underline" th:text="#{message.passwordReset}"></a>
            </li> -->
            <li>
                <a th:href="#{a.href.libraryRegulations}" class="hover:underline" th:text="#{message.libraryRegulations}" target="_blank"></a>
            </li>
            <li>
                <a th:href="#{a.href.privacyPolicy}" class="hover:underline" th:text="#{message.privacyPolicy}" target="_blank"></a>
            </li>
        </ul>
        </div>
    </footer>
</body>

</html>