<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <footer th:fragment="footer" class="fixed bottom-0 left-0 z-20 w-full bg-white border-t border-gray-200 md:flex md:items-center md:justify-between">
        <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© <span th:text="${#dates.year(#dates.createNow())}"></span> <a href="https://www.lib.cas.cz/" target="_blank" class="hover:underline">LIBCAS</a>
        </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a href="/about" class="hover:underline me-4 md:me-6">About</a>
            </li>
            <li>
                <a href="/privacy-policy" class="hover:underline me-4 md:me-6">Privacy Policy</a>
            </li>
            <li>
                <a href="/tos" class="hover:underline">Terms of service</a>
            </li>
        </ul>
        </div>
    </div>
</body>

</html>