<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="form-identity-password-reset">
        <form action="#" method="post" class="max-w-md mx-auto bg-white p-8 shadow-md rounded-lg">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="hidden" name="token" th:value="${token}" readonly />
            <div class="mb-4">
                <label for="newPassword" th:text="#{page.identityPasswordReset.newPassword}" class="block text-gray-700 text-sm font-bold mb-2">New Password:</label>
                <input type="password" id="newPassword" name="newPassword" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required />
            </div>
            <div class="mb-4">
                <label for="repeatNewPassword" th:text="#{page.identityPasswordReset.repeatNewPassword}" class="block text-gray-700 text-sm font-bold mb-2">Repeat New Password:</label>
                <input type="password" id="repeatNewPassword" name="repeatNewPassword" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required />
            </div>
            <div class="flex justify-center">
                <button type="submit" th:text="#{page.identityPasswordReset.changePassword}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Change password</button>
            </div>
        </form>
    </div>

</html>