<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="form-identity-set-password">
        <form id="form-identity-password" th:action="@{/identity/set-password}" th:object="${passwordDTO}" method="post" class="max-w-md mx-auto bg-white p-8 shadow-md rounded-lg">
            <div class="mb-4 p-4 text-sm text-blue-800 bg-blue-200" th:text="#{form.patronPassword.guide}"></div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" required />
            <input type="hidden" name="token" th:value="${token}" readonly />
            <div class="mb-4">
                <label for="newPassword" th:text="#{page.identityPassword.newPassword}" class="block text-sm font-medium text-gray-700 mb-2">New Password:</label>
                <input type="password" id="newPassword" th:field="*{newPassword}" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required />
                <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="text-red-500"></span>
            </div>
            <div class="mb-4">
                <label for="repeatNewPassword" th:text="#{page.identityPassword.repeatNewPassword}" class="block text-sm font-medium text-gray-700 mb-2">Repeat New Password:</label>
                <input type="password" id="repeatNewPassword" th:field="*{repeatNewPassword}" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required />
                <span th:if="${#fields.hasErrors('repeatNewPassword')}" th:errors="*{repeatNewPassword}" class="text-red-500"></span>
            </div>
            <div class="flex justify-center">
                <button type="submit" th:text="#{page.identityPassword.setPassword}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Set password</button>
            </div>
        </form>
        <script th:inline="javascript">
            document.addEventListener('DOMContentLoaded', function() {
                const form = document.getElementById('form-identity-password');
                form.addEventListener('submit', function(event) {
                    const password = document.getElementById('newPassword').value;
                    const repeatPassword = document.getElementById('repeatNewPassword').value;
                    
                    if (!isValidPassword(password)) {
                        event.preventDefault();
                        alert(window.translations["form.patronPassword.error.invalid"]);
                        return;
                    }
                    
                    if (password !== repeatPassword) {
                        event.preventDefault();
                        alert(window.translations["form.patronPassword.error.notMatching"]);
                        return;
                    }
                });
            });
        
            function isValidPassword(password) {
                const regex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d\W]{6,13}$/;
                return regex.test(password);
            }
        </script>
    </div>

</html>