<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <header th:fragment="header"
        class="flex justify-center bg-white fixed w-full z-20 top-0 start-0 border-b border-gray-200">
        <nav class="flex flex-wrap md:flex-nowrap items-center container">
            <div class="flex justify-start w-70% md:w-auto p-5 order-1">
                <img th:if="${lang == 'cs'}" class="w-36 lg:mx-auto lg:w-48" src="https://lib.cas.cz/registrace/public/logo-knav-cs.png" />
                <img th:if="${lang == 'en'}" class="w-36 lg:mx-auto lg:w-48" src="https://lib.cas.cz/registrace/public/logo-knav-en.png" />
                <img th:if="${lang == 'sk'}" class="w-36 lg:mx-auto lg:w-48" src="https://lib.cas.cz/registrace/public/logo-knav-cs.png" />
            </div>
            <div class="flex flex-1 justify-end w-30% md:w-auto p-5 order-2 md:order-3">
                <button type="button" data-dropdown-toggle="language-dropdown-menu"
                    class="inline-flex items-center font-medium justify-center px-4 py-2 text-sm text-gray-900 rounded-lg cursor-pointer hover:bg-gray-100">
                    <svg th:if="${lang == 'cs'}" th:insert="~{fragments/svg/flag-cze :: flag-cze}" class="w-5 h-5 rounded-full me-2"></svg>
                    <svg th:if="${lang == 'en'}" th:insert="~{fragments/svg/flag-gbr :: flag-gbr}" class="w-5 h-5 rounded-full me-2"></svg>
                    <svg th:if="${lang == 'sk'}" th:insert="~{fragments/svg/flag-skv :: flag-skv}" class="w-5 h-5 rounded-full me-2"></svg>
                    <span th:if="${lang == 'cs'}">Česky</span>
                    <span th:if="${lang == 'en'}">English</span>
                    <span th:if="${lang == 'sk'}">Slovensky</span>
                </button>
                <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow"
                    id="language-dropdown-menu">
                    <ul class="py-2 font-medium" role="none">
                        <li>
                            <a href="?lang=cs" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">
                                <div class="inline-flex items-center">
                                    <svg th:insert="~{fragments/svg/flag-cze :: flag-cze}" class="w-5 h-5 rounded-full me-2"></svg>
                                    Česky
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="?lang=en" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">
                                <div class="inline-flex items-center">
                                    <svg th:insert="~{fragments/svg/flag-gbr :: flag-gbr}" class="w-5 h-5 rounded-full me-2"></svg>
                                    English
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="?lang=sk" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">
                                <div class="inline-flex items-center">
                                    <svg th:insert="~{fragments/svg/flag-skv :: flag-skv}" class="w-5 h-5 rounded-full me-2"></svg>
                                    Slovensky
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="hidden sm:flex flex-col p-5 pt-0 w-full order-3 md:w-auto md:pt-5 md:order-2">
                <span th:text="#{message.libcas.institution}"></span>
                <span th:text="#{message.libcas.address}"></span>
                <span th:with="libcasWeb=#{message.libcas.web}">
                    <a th:with="fullUrl='https://' + ${libcasWeb}" th:href="${fullUrl}" th:text="${libcasWeb}" target="_blank"></a>
                </span>
            </div>
        </nav>
    </header>
</body>

</html>