<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{emails/sk/layout}">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <table>
        <tr>
            <td layout:fragment="content">
                <h1>Zmena hesla</span></h1>
                <p>
                    <span>Ak si chcete zmeniť heslo, navštívte tento odkaz: </span>
                    <a th:href="${pswResetLink}" th:text="${pswResetLink}"></a>
                </p>
            </td>
        </tr>
    </table>
</body>
</html>