<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Vaše žiadosť o predĺženie členstva bola úspešne odoslaná</span>!</h1>
    <div>
        <span>Vaše používateľské meno: </span>
        <span th:text="${alephPatronBarcode}"></span>
    </div>
    <div>
        <p>Tu je váš <a href="#">odkaz</a> na platbu.</p>
        <p>
            <span>Po zaplatení poplatku bude vaše členstvo predĺžené do</span> <b th:text="${membershipExpiryDate}"></b>.
        </p>
    </div>
</body>
</html>
