<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Úspešne ste sa zaregistrovali</span>!</h1>
    <div>
        <span>Vaše používateľské meno: </span>
        <span th:text="${alephPatronBarcode}"></span>
    </div>
    <div>
        <p th:if="${!isCasEmployee}">Tu je váš <a href="#">odkaz</a> na platbu.</p>
        <p>
            <span th:if="${!isCasEmployee}">Po zaplatení poplatku bude vaše členstvo platné do</span>
            <span th:if="${isCasEmployee}">Vaše členstvo bude platné do</span> <b th:text="${membershipExpiryDate}"></b>.
        </p>
    </div>
</body>
</html>
