<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

    <head>
        <title th:replace="fragments/head :: head"></title>
    </head>

    <body class="page-callback page-membership-renewal">
        <main layout:fragment="content" class="mb-40 md:mb-20 text-center container mx-auto p-5">
            <h1 class="mb-6 text-3xl font-extrabold text-center text-gray-900" th:text="#{page.membershipRenewal.title}"></h1>
            <div class="mb-12 max-w-4xl mx-auto text-left flex flex-col gap-2">
                <h3 class="font-semibold" th:text="#{page.membershipRenewal.subtitle}"></h3>
                <p class="font-bold" th:if="${membershipHasExpired}">
                    <span th:text="#{message.membershipStatus.hasExpiredOnDate}">Your membership has expired on</span> <span th:text="${membershipExpiryDate}"></span>.
                </p>
                <p class="font-bold" th:if="${membershipExpiresToday}">
                    <span th:text="#{message.membershipStatus.expiresToday}">Your expires TODAY</span> (<span th:text="${membershipExpiryDate}"></span>).
                </p>
                <p class="font-bold" th:if="${!membershipHasExpired and !membershipExpiresToday}">
                    <span th:text="#{message.membershipStatus.willExpireOnDate}">Your membership will expire on</span> <span th:text="${membershipExpiryDate}"></span>.
                </p>
                <p th:if="${expiryDateIn1MonthOrLess}" th:text="#{message.membershipRenewal.instructions}">To renew your membership, review the personal information below and fill in the required information.</p>
                <p th:if="${!expiryDateIn1MonthOrLess}" th:text="#{message.membershipRenewal.epiryDateTooFarAway}">Your membership can be renewed at the earliest 1 month before the expiration date.</p>
            </div>
            <form th:if="${expiryDateIn1MonthOrLess}" method="post" th:object="${patron}" enctype="multipart/form-data" class="my-5 space-y-4 max-w-4xl mx-auto text-left">
                <div class="flex flex-col gap-7">
                    <input type="hidden" name="patronId" th:value="${patronId}" />
                    <div class="flex flex-col gap-4">
                        <div class="flex flex-col gap-2">
                            <h3 class="text-md md:text-2xl font-semibold" th:text="#{form.membershipRenewal.section1.title}"></h3>
                            <h4 class="text-md md:text-xl font-semibold" th:text="#{form.membershipRenewal.section1.subtitle}"></h4>
                            <p th:utext="#{form.membershipRenewal.section1.text1}"></p>
                        </div>
                        <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
                            <div>
                                <label for="firstname" class="block text-sm font-medium">
                                    <span th:text="#{message.firstname}"></span>&nbsp;
                                    <span th:title="#{form.text.requiredInformation}">*</span>
                                </label>
                                <input type="text" id="firstname" name="firstname" class="mt-1 block w-full p-2 border border-gray-300 bg-gray-300 rounded-md shadow-sm focus:outline-none focus:border-gray-300 focus:ring-0 sm:text-sm cursor-not-allowed" th:field="*{firstname}" required readonly />
                                <div th:if="${#fields.hasErrors('firstname')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                                    <i class="fa-solid fa-triangle-exclamation"></i>
                                    <span th:errors="*{firstname}" class="ml-1"></span>
                                </div>
                            </div>
                            <div>
                                <label for="lastname" class="block text-sm font-medium">
                                    <span th:text="#{message.lastname}"></span>&nbsp;
                                    <span th:title="#{form.text.requiredInformation}">*</span>
                                </label>
                                <input type="text" id="lastname" name="lastname" class="mt-1 block w-full p-2 border border-gray-300 bg-gray-300 rounded-md shadow-sm focus:outline-none focus:border-gray-300 focus:ring-0 sm:text-sm cursor-not-allowed" th:field="*{lastname}" required readonly />
                                <div th:if="${#fields.hasErrors('lastname')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                                    <i class="fa-solid fa-triangle-exclamation"></i>
                                    <span th:errors="*{lastname}" class="ml-1"></span>
                                </div>
                            </div>
                            <div>
                                <label for="birthday" class="block text-sm font-medium">
                                    <span th:text="#{message.birthday}"></span>&nbsp;
                                    <span th:title="#{form.text.requiredInformation}">*</span>
                                </label>
                                <input type="date" id="birthday" name="birthday" class="mt-1 block w-full p-2 border border-gray-300 bg-gray-300 rounded-md shadow-sm focus:outline-none focus:border-gray-300 focus:ring-0 sm:text-sm cursor-not-allowed" th:value="${T(cz.cas.lib.bankid_registrator.util.DateUtils).convertAlephDate(patron.birthDate)}" required readonly />
                            </div>
                        </div>
                        <div class="grid grid-cols-1 gap-2">
                            <fieldset class="space-y-2">
                                <legend class="block font-bold">
                                    <span th:text="#{message.permanentAddress}"></span>&nbsp;
                                    <span th:title="#{form.text.requiredInformation}">*</span>
                                </legend>
                                <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
                                    <div class="hidden">
                                        <input type="text" name="permanent_address_line1" th:placeholder="#{message.addressName}" class="mt-1 block w-full border border-gray-300 bg-gray-300 rounded-md shadow-sm focus:outline-none focus:border-gray-300 focus:ring-0 sm:text-sm cursor-not-allowed" th:field="*{address0}" required readonly />
                                        <div th:if="${#fields.hasErrors('address0')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                                            <i class="fa-solid fa-triangle-exclamation"></i>
                                            <span th:errors="*{address0}" class="ml-1"></span>
                                        </div>
                                    </div>
                                    <div>
                                        <label for="permanent_address_line2" class="block text-sm font-medium">
                                            <span th:text="#{message.streetHouseNum}"></span>
                                        </label>
                                        <input type="text" id="permanent_address_line2" name="permanent_address_line2" th:placeholder="#{message.streetHouseNum}" class="mt-1 block w-full border border-gray-300 bg-gray-300 rounded-md shadow-sm focus:outline-none focus:border-gray-300 focus:ring-0 sm:text-sm cursor-not-allowed" th:field="*{address1}" required readonly />
                                        <div th:if="${#fields.hasErrors('address1')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                                            <i class="fa-solid fa-triangle-exclamation"></i>
                                            <span th:errors="*{address1}" class="ml-1"></span>
                                        </div>
                                    </div>
                                    <div>
                                        <label for="permanent_address_line3" class="block text-sm font-medium">
                                            <span th:text="#{message.municipality}"></span>
                                        </label>
                                        <input type="text" id="permanent_address_line3" name="permanent_address_line3" th:placeholder="#{message.municipality}" class="mt-1 block w-full border border-gray-300 bg-gray-300 rounded-md shadow-sm focus:outline-none focus:border-gray-300 focus:ring-0 sm:text-sm cursor-not-allowed" th:field="*{address2}" required readonly />
                                        <div th:if="${#fields.hasErrors('address2')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                                            <i class="fa-solid fa-triangle-exclamation"></i>
                                            <span th:errors="*{address2}" class="ml-1"></span>
                                        </div>
                                    </div>
                                    <div>
                                        <label for="permanent_zip" class="block text-sm font-medium">
                                            <span th:text="#{message.zipCode}"></span>
                                        </label>
                                        <input type="text" id="permanent_zip" name="permanent_zip" th:placeholder="#{message.zipCode}" class="mt-1 block w-full border border-gray-300 bg-gray-300 rounded-md shadow-sm focus:outline-none focus:border-gray-300 focus:ring-0 sm:text-sm cursor-not-allowed" th:field="*{zip}" required readonly />
                                        <div th:if="${#fields.hasErrors('zip')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                                            <i class="fa-solid fa-triangle-exclamation"></i>
                                            <span th:errors="*{zip}" class="ml-1"></span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="flex flex-col gap-4">
                        <div class="flex flex-col gap-2">
                            <h3 class="text-md md:text-2xl font-semibold" th:text="#{form.membershipRenewal.section2.title}"></h3>
                            <h4 class="text-md md:text-xl font-semibold" th:text="#{form.membershipRenewal.section2.subtitle}"></h4>
                            <p th:utext="#{form.membershipRenewal.section2.text1}"></p>
                        </div>
                        <div class="flex flex-col gap-1">
                            <label for="email" class="block text-sm font-medium">
                                <span th:text="#{message.email}"></span>&nbsp;
                                <span th:title="#{form.text.requiredCasEmployeeInformation}">**</span>
                            </label>
                            <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
                                <div>
                                    <input type="email" id="email" name="email" class="block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" th:field="*{email}" />
                                    <div th:if="${#fields.hasErrors('email')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                                        <i class="fa-solid fa-triangle-exclamation"></i>
                                        <span th:errors="*{email}" class="ml-1"></span>
                                    </div>
                                </div>
                                <button th:if="${patron.email == null && bankIdPatron.email != null and !#strings.isEmpty(bankIdPatron.email)}" class="jsbtn-useInputVal w-full sm:flex-1 p-3 rounded border-2 border-dashed hover:border-indigo-500">
                                    <span th:text="#{message.useThisBankIDValue}"></span>:<br>
                                    <i th:text="${bankIdPatron.email}"></i>
                                </button>
                                <button th:if="${patron.email == null && alephPatron.email != null and !#strings.isEmpty(alephPatron.email)}" class="jsbtn-useInputVal w-full sm:flex-1 p-3 rounded border-2 border-dashed hover:border-indigo-500">
                                    <span th:text="#{message.useThisKnavValue}"></span>:<br>
                                    <i th:text="${alephPatron.email}"></i>
                                </button>
                            </div>
                        </div>
                        <p>
                            <b>**</b>&nbsp;
                            <span th:text="#{form.text.requiredCasEmployeeInformation}"></span>
                        </p>
                        <div class="flex flex-col gap-1">
                            <label for="phone" class="block text-sm font-medium" th:text="#{message.mobilePhone}"></label>
                            <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
                                <div>
                                    <input type="tel" id="phone" name="phone" class="block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" th:field="*{smsNumber}" />
                                    <div th:if="${#fields.hasErrors('smsNumber')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                                        <i class="fa-solid fa-triangle-exclamation"></i>
                                        <span th:errors="*{smsNumber}" class="ml-1"></span>
                                    </div>
                                </div>
                                <button th:if="${patron.smsNumber == null && bankIdPatron.smsNumber != null and !#strings.isEmpty(bankIdPatron.smsNumber)}" class="jsbtn-useInputVal w-full sm:flex-1 p-3 rounded border-2 border-dashed hover:border-indigo-500">
                                    <span th:text="#{message.useThisBankIDValue}"></span>:<br>
                                    <i th:text="${bankIdPatron.smsNumber}"></i>
                                </button>
                                <button th:if="${patron.smsNumber == null && alephPatron.smsNumber != null and !#strings.isEmpty(alephPatron.smsNumber)}" class="jsbtn-useInputVal w-full sm:flex-1 p-3 rounded border-2 border-dashed hover:border-indigo-500">
                                    <span th:text="#{message.useThisKnavValue}"></span>:<br>
                                    <i th:text="${alephPatron.smsNumber}"></i>
                                </button>
                            </div>
                        </div>
                        <div class="grid grid-cols-1 gap-2">
                            <fieldset class="space-y-2">
                                <legend class="block font-bold">
                                    <span th:text="#{message.contactAddress}"></span>
                                </legend>
                                <div class="hidden flex flex-col gap-1">
                                    <input type="text" name="contact_address_line1" th:placeholder="#{message.addressName}" class="block w-full border border-gray-300 bg-gray-300 rounded-md shadow-sm focus:outline-none focus:border-gray-300 focus:ring-0 sm:text-sm cursor-not-allowed" th:field="*{contactAddress0}" readonly />
                                    <div th:if="${#fields.hasErrors('contactAddress0')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                                        <i class="fa-solid fa-triangle-exclamation"></i>
                                        <span th:errors="*{contactAddress0}" class="ml-1"></span>
                                    </div>
                                </div>
                                <div class="flex flex-col gap-1">
                                    <label for="contact_address_line2" class="block text-sm font-medium">
                                        <span th:text="#{message.streetHouseNum}"></span>
                                    </label>
                                    <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
                                        <div class="flex flex-col gap-1">
                                            <input type="text" id="contact_address_line2" name="contact_address_line2" th:placeholder="#{message.streetHouseNum}" class="js-autocomplete-address block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" th:field="*{contactAddress1}" />
                                            <div th:if="${#fields.hasErrors('contactAddress1')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                                                <i class="fa-solid fa-triangle-exclamation"></i>
                                                <span th:errors="*{contactAddress1}" class="ml-1"></span>
                                            </div>
                                        </div>
                                        <button th:if="${patron.contactAddress1 == null && bankIdPatron.contactAddress1 != null and !#strings.isEmpty(bankIdPatron.contactAddress1)}" class="jsbtn-useInputVal w-full sm:flex-1 p-3 rounded border-2 border-dashed hover:border-indigo-500">
                                            <span th:text="#{message.useThisBankIDValue}"></span>:<br>
                                            <i th:text="${bankIdPatron.contactAddress1}"></i>
                                        </button>
                                        <button th:if="${patron.contactAddress1 == null && alephPatron.contactAddress1 != null and !#strings.isEmpty(alephPatron.contactAddress1)}" class="jsbtn-useInputVal w-full sm:flex-1 p-3 rounded border-2 border-dashed hover:border-indigo-500">
                                            <span th:text="#{message.useThisKnavValue}"></span>:<br>
                                            <i th:text="${alephPatron.contactAddress1}"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="flex flex-col gap-1">
                                    <label for="contact_address_line3" class="block text-sm font-medium">
                                        <span th:text="#{message.municipality}"></span>
                                    </label>
                                    <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
                                        <div class="flex flex-col gap-1">
                                            <input type="text" id="contact_address_line3" name="contact_address_line3" th:placeholder="#{message.municipality}" class="block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" th:field="*{contactAddress2}" />
                                            <div th:if="${#fields.hasErrors('contactAddress2')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                                                <i class="fa-solid fa-triangle-exclamation"></i>
                                                <span th:errors="*{contactAddress2}" class="ml-1"></span>
                                            </div>
                                        </div>
                                        <button th:if="${patron.contactAddress2 == null && bankIdPatron.contactAddress2 != null and !#strings.isEmpty(bankIdPatron.contactAddress2)}" class="jsbtn-useInputVal w-full sm:flex-1 p-3 rounded border-2 border-dashed hover:border-indigo-500">
                                            <span th:text="#{message.useThisBankIDValue}"></span>:<br>
                                            <i th:text="${bankIdPatron.contactAddress2}"></i>
                                        </button>
                                        <button th:if="${patron.contactAddress2 == null && alephPatron.contactAddress2 != null and !#strings.isEmpty(alephPatron.contactAddress2)}" class="jsbtn-useInputVal w-full sm:flex-1 p-3 rounded border-2 border-dashed hover:border-indigo-500">
                                            <span th:text="#{message.useThisKnavValue}"></span>:<br>
                                            <i th:text="${alephPatron.contactAddress2}"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="flex flex-col gap-1">
                                    <label for="contact_zip" class="block text-sm font-medium">
                                        <span th:text="#{message.zipCode}"></span>
                                    </label>
                                    <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
                                        <div class="flex flex-col gap-1">
                                            <input type="text" id="contact_zip" name="contact_zip" th:placeholder="#{message.zipCode}" class="block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" th:field="*{contactZip}" />
                                            <div th:if="${#fields.hasErrors('contactZip')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                                                <i class="fa-solid fa-triangle-exclamation"></i>
                                                <span th:errors="*{contactZip}" class="ml-1"></span>
                                            </div>
                                        </div>
                                        <button th:if="${patron.contactZip == null && bankIdPatron.contactZip != null and !#strings.isEmpty(bankIdPatron.contactZip)}" class="jsbtn-useInputVal w-full sm:flex-1 p-3 rounded border-2 border-dashed hover:border-indigo-500">
                                            <span th:text="#{message.useThisBankIDValue}"></span>:<br>
                                            <i th:text="${bankIdPatron.contactZip}"></i>
                                        </button>
                                        <button th:if="${patron.contactZip == null && alephPatron.contactZip != null and !#strings.isEmpty(alephPatron.contactZip)}" class="jsbtn-useInputVal w-full sm:flex-1 p-3 rounded border-2 border-dashed hover:border-indigo-500">
                                            <span th:text="#{message.useThisKnavValue}"></span>:<br>
                                            <i th:text="${alephPatron.contactZip}"></i>
                                        </button>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
                            <div>
                                <label for="language" class="block text-sm font-medium">
                                    <span th:text="#{message.conLng}"></span>&nbsp;
                                    <span th:title="#{form.text.requiredInformation}">*</span>
                                </label>
                                <select id="language" name="language" class="cursor-pointer mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" th:field="*{conLng}" required />
                                    <option th:value="CZE">
                                        <span th:text="#{message.czech}"></span>
                                    </option>
                                    <option th:value="ENG">
                                        <span th:text="#{message.english}"></span>
                                    </option>
                                </select>
                                <div th:if="${#fields.hasErrors('conLng')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                                    <i class="fa-solid fa-triangle-exclamation"></i>
                                    <span th:errors="*{conLng}" class="ml-1"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col gap-4">
                        <div class="flex flex-col gap-2" data-accordion="collapse" data-active-classes="text-gray-900" data-inactive-classes="text-gray-900">
                            <h3 id="accordion-rfid-heading" class="flex justify-between items-center text-md md:text-2xl font-semibold cursor-pointer" type="button" data-accordion-target="#accordion-rfid-body" aria-expanded="false" aria-controls="accordion-rfid-body">
                                <span th:text="#{form.membershipRenewal.section3.title}"></span>
                                <i class="text-md fa-solid fa-circle-info" th:title="#{message.moreInfo}"></i>
                            </h3>
                            <div id="accordion-rfid-body" class="flex flex-col gap-2 hidden" aria-labelledby="accordion-rfid-heading">
                                <h4 class="text-md md:text-xl font-semibold" th:text="#{form.membershipRenewal.section3.subtitle}"></h4>
                                <p th:utext="#{form.membershipRenewal.section3.text1}"></p>
                                <p th:utext="#{form.membershipRenewal.section3.text2}"></p>
                                <h4 class="text-md md:text-xl font-semibold" th:text="#{form.membershipRenewal.section3.block1.h}"></h4>
                                <p th:utext="#{form.membershipRenewal.section3.block1.text}"></p>
                                <h4 class="text-md md:text-xl font-semibold" th:text="#{form.membershipRenewal.section3.block2.h}"></h4>
                                <p th:utext="#{form.membershipRenewal.section3.block2.text}"></p>
                                <h4 class="text-md md:text-xl font-semibold" th:text="#{form.membershipRenewal.section3.block3.h}"></h4>
                                <p th:utext="#{form.membershipRenewal.section3.block3.text}"></p>
                            </div>
                        </div>
                        <div class="flex flex-col gap-1">
                            <label for="rfid" class="block text-sm font-medium" th:text="#{message.rfidWithExamples}"></label>
                            <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
                                <div>
                                    <input type="text" id="rfid" name="rfid" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" th:field="*{rfid}" />
                                    <div th:if="${#fields.hasErrors('rfid')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                                        <i class="fa-solid fa-triangle-exclamation"></i>
                                        <span th:errors="*{rfid}" class="ml-1"></span>
                                    </div>
                                </div>
                                <button th:if="${patron.rfid == null && bankIdPatron.rfid != null and !#strings.isEmpty(bankIdPatron.rfid)}" class="jsbtn-useInputVal w-full sm:flex-1 p-3 rounded border-2 border-dashed hover:border-indigo-500">
                                    <span th:text="#{message.useThisBankIDValue}"></span>:<br>
                                    <i th:text="${bankIdPatron.rfid}"></i>
                                </button>
                                <button th:if="${patron.rfid == null && alephPatron.rfid != null and !#strings.isEmpty(alephPatron.rfid)}" class="jsbtn-useInputVal w-full sm:flex-1 p-3 rounded border-2 border-dashed hover:border-indigo-500">
                                    <span th:text="#{message.useThisKnavValue}"></span>:<br>
                                    <i th:text="${alephPatron.rfid}"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col gap-2">
                        <h3 class="text-md md:text-2xl font-semibold" th:text="#{form.membershipRenewal.section4.title}"></h3>
                        <p th:utext="#{form.membershipRenewal.section4.text1}"></p>
                        <div class="flex items-center">
                            <input id="isCasEmployee" name="isCasEmployee" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" th:checked="*{isCasEmployee == true}" th:field="*{isCasEmployee}" />
                            <label for="isCasEmployee" class="ml-2 mb-0 font-medium" th:text="#{message.iAmCasEmployee}">
                                I am a CAS employee
                            </label>
                            <div th:if="${#fields.hasErrors('isCasEmployee')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                                <i class="fa-solid fa-triangle-exclamation"></i>
                                <span th:errors="*{isCasEmployee}" class="ml-1"></span>
                            </div>
                        </div>
                    </div>
                    <div id="files-control" class="flex flex-col items-center pl-4 gap-2">
                        <label for="media" class="block font-medium">
                            <h4 class="text-md md:text-xl font-semibold">
                                <span th:text="#{message.uploadIdFiles}">Upload your ID card, passport or other proof of identity</span>&nbsp;
                                <span th:title="#{form.text.requiredCasEmployeeInformation}">**</span>
                            </h4>
                            <div class="text-sm" th:text="#{message.uploadIdFilesFormat}">PDF, JPG, JPEG or PNG formats with a maximum size of 20 MB</div>
                        </label>
                        <input id="files" type="file" class="filepond mb-0 mt-2" name="media" multiple data-max-file-size="20MB" data-max-files="3" />
                        <div th:if="${#fields.hasGlobalErrors()}" th:each="err : ${#fields.globalErrors()}" class="flex items-baseline my-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                            <i class="fa-solid fa-triangle-exclamation"></i>
                            <span th:text="${err}" class="ml-1"></span>
                        </div>
                    </div>
                    <div class="flex flex-col mt-4 gap-2">
                        <div th:utext="#{form.membershipRenewal.declaration0}"></div>
                        <div class="flex gap-3">
                            <input id="declaration1" name="declaration1" type="checkbox" class="mt-1 focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" th:checked="*{declaration1 == true}" th:field="*{declaration1}" th:value="Y" required />
                            <div>
                                <label for="declaration1" class="mb-0 font-medium">
                                    <span th:utext="#{form.membershipRenewal.declaration1}"></span>    
                                    <span th:title="#{form.text.requiredInformation}">*</span>
                                </label>
                                <div th:if="${#fields.hasErrors('declaration1')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium"><i class="fa-solid fa-triangle-exclamation"></i><span th:errors="*{declaration1}" class="ml-1"></span></div>
                            </div>
                        </div>
                        <div class="flex gap-3">
                            <input id="declaration2" name="declaration2" type="checkbox" class="mt-1 focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" th:checked="*{declaration2 == true}" th:field="*{declaration2}" th:value="Y" required />
                            <div>
                                <label for="declaration2" class="mb-0 font-medium">
                                    <span th:utext="#{form.membershipRenewal.declaration2}"></span>    
                                    <span th:title="#{form.text.requiredInformation}">*</span>
                                </label>
                                <div th:if="${#fields.hasErrors('declaration2')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium"><i class="fa-solid fa-triangle-exclamation"></i><span th:errors="*{declaration2}" class="ml-1"></span></div>
                            </div>
                        </div>
                        <div class="flex gap-3">
                            <input id="declaration3" name="declaration3" type="checkbox" class="mt-1 focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" th:checked="*{declaration3 == true}" th:field="*{declaration3}" th:value="Y" required />
                            <div>
                                <label for="declaration3" class="mb-0 font-medium">
                                    <span th:utext="#{form.membershipRenewal.declaration3}"></span>    
                                    <span th:title="#{form.text.requiredInformation}">*</span>
                                </label>
                                <div th:if="${#fields.hasErrors('declaration3')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium"><i class="fa-solid fa-triangle-exclamation"></i><span th:errors="*{declaration3}" class="ml-1"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-left text-sm mt-4">
                    <p class="text-gray-500">
                        <b>*</b>&nbsp;<span th:text="#{form.text.requiredInformation}"></span>
                    </p>
                    <p class="text-gray-500">
                        <b>**</b>&nbsp;<span th:text="#{form.text.requiredCasEmployeeInformation}"></span>
                    </p>
                </div>
                <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 mt-5" th:text="#{message.renewMembership}"></button>
            </form>
        </main>
    </body>

</html>
