<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title th:replace="fragments/head :: head"></title>
</head>

<body class="page-callback page-new-registration">
    <main layout:fragment="content" class="mb-10 container mx-auto p-5">
        <h1 class="mb-6 text-3xl font-extrabold text-center text-gray-900" th:text="#{page.newRegistration.title}">New registration</h1>
        <h2 class="mb-6 text-2xl font-extrabold max-w-4xl mx-auto text-gray-900" th:text="#{page.newRegistration.formTitle}">Registration form</h2>
        <form action="#" th:action="@{/new-registration}" th:object="${patron}" method="post"
            enctype="multipart/form-data" class="my-5 space-y-4 max-w-4xl mx-auto">
            <div th:if="${#fields.hasErrors('*')}" th:text="#{form.error.invalidData}" class="text-red-600 dark:text-red-500 font-medium pb-3">
                The submitted form contains errors. Please correct the errors.
            </div>
            <div class="flex flex-col gap-4">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" required />
                <input type="hidden" name="patronId" th:value="${patronId}" />
                <div class="flex flex-col gap-2">
                    <h3 class="text-md md:text-2xl font-semibold" th:text="#{form.newRegistration.section1.title}"></h3>
                    <h4 class="text-md md:text-xl font-semibold" th:text="#{form.newRegistration.section1.subtitle}"></h4>
                    <p th:utext="#{form.newRegistration.section1.text1}"></p>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                    <div>
                        <label for="firstname" class="block text-sm font-medium">
                            <span th:text="#{message.firstname}">First name</span>&nbsp;
                            <span th:title="#{form.text.requiredInformation}">*</span>
                        </label>
                        <input type="text" id="firstname" name="firstname" class="mt-1 block w-full p-2 border border-gray-300 bg-gray-300 rounded-md shadow-sm focus:outline-none focus:border-gray-300 focus:ring-0 sm:text-sm cursor-not-allowed" th:field="*{firstname}" required readonly />
                        <div th:if="${#fields.hasErrors('firstname')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                            <i class="fa-solid fa-triangle-exclamation"></i>
                            <span th:errors="*{firstname}" class="ml-1"></span>
                        </div>
                    </div>
                    <div>
                        <label for="lastname" class="block text-sm font-medium">
                            <span th:text="#{message.lastname}">Last name</span>&nbsp;
                            <span th:title="#{form.text.requiredInformation}">*</span>
                        </label>
                        <input type="text" id="lastname" name="lastname" class="mt-1 block w-full p-2 border border-gray-300 bg-gray-300 rounded-md shadow-sm focus:outline-none focus:border-gray-300 focus:ring-0 sm:text-sm cursor-not-allowed" th:field="*{lastname}" required readonly />
                        <div th:if="${#fields.hasErrors('lastname')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                            <i class="fa-solid fa-triangle-exclamation"></i>
                            <span th:errors="*{lastname}" class="ml-1"></span>
                        </div>
                    </div>
                    <div>
                        <label for="birthday" class="block text-sm font-medium">
                            <span th:text="#{message.birthday}">Birthdate</span>&nbsp;
                            <span th:title="#{form.text.requiredInformation}">*</span>
                        </label>
                        <input type="date" id="birthday" name="birthday" class="mt-1 block w-full p-2 border border-gray-300 bg-gray-300 rounded-md shadow-sm focus:outline-none focus:border-gray-300 focus:ring-0 sm:text-sm cursor-not-allowed" th:value="${T(cz.cas.lib.bankid_registrator.util.DateUtils).convertAlephDate(patron.birthDate)}" required readonly />
                    </div>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                    <div class="md:col-span-2">
                        <fieldset class="space-y-2">
                            <legend class="block text-sm font-medium">
                                <span th:text="#{message.permanentAddress}">Permanent address</span>&nbsp;
                                <span th:title="#{form.text.requiredInformation}">*</span>
                            </legend>
                            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                                <div>
                                    <input type="text" name="permanent_address_line1" th:placeholder="#{message.addressName}" class="mt-1 block w-full border border-gray-300 bg-gray-300 rounded-md shadow-sm focus:outline-none focus:border-gray-300 focus:ring-0 sm:text-sm cursor-not-allowed" th:field="*{address0}" required readonly />
                                    <div th:if="${#fields.hasErrors('address0')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                                        <i class="fa-solid fa-triangle-exclamation"></i>
                                        <span th:errors="*{address0}" class="ml-1"></span>
                                    </div>
                                </div>
                                <div>
                                    <input type="text" name="permanent_address_line2" th:placeholder="#{message.streetHouseNum}" class="mt-1 block w-full border border-gray-300 bg-gray-300 rounded-md shadow-sm focus:outline-none focus:border-gray-300 focus:ring-0 sm:text-sm cursor-not-allowed" th:field="*{address1}" required readonly />
                                    <div th:if="${#fields.hasErrors('address1')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                                        <i class="fa-solid fa-triangle-exclamation"></i>
                                        <span th:errors="*{address1}" class="ml-1"></span>
                                    </div>
                                </div>
                                <div>
                                    <input type="text" name="permanent_address_line3" th:placeholder="#{message.municipality}" class="mt-1 block w-full border border-gray-300 bg-gray-300 rounded-md shadow-sm focus:outline-none focus:border-gray-300 focus:ring-0 sm:text-sm cursor-not-allowed" th:field="*{address2}" required readonly />
                                    <div th:if="${#fields.hasErrors('address2')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                                        <i class="fa-solid fa-triangle-exclamation"></i>
                                        <span th:errors="*{address2}" class="ml-1"></span>
                                    </div>
                                </div>
                                <div>
                                    <input type="text" name="permanent_zip" th:placeholder="#{message.zipCode}" class="mt-1 block w-full border border-gray-300 bg-gray-300 rounded-md shadow-sm focus:outline-none focus:border-gray-300 focus:ring-0 sm:text-sm cursor-not-allowed" th:field="*{zip}" required readonly />
                                    <div th:if="${#fields.hasErrors('zip')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                                        <i class="fa-solid fa-triangle-exclamation"></i>
                                        <span th:errors="*{zip}" class="ml-1"></span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="flex flex-col gap-2">
                    <h3 class="text-md md:text-2xl font-semibold" th:text="#{form.newRegistration.section2.title}"></h3>
                    <h4 class="text-md md:text-xl font-semibold" th:text="#{form.newRegistration.section2.subtitle}"></h4>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                    <div>
                        <label for="email" class="block text-sm font-medium">
                            <span th:text="#{message.email}">E-mail</span>&nbsp;
                            <span th:title="#{form.text.requiredCasEmployeeInformation}">**</span>
                        </label>
                        <input type="email" id="email" name="email" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" th:field="*{email}" />
                        <div th:if="${#fields.hasErrors('email')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                            <i class="fa-solid fa-triangle-exclamation"></i>
                            <span th:errors="*{email}" class="ml-1"></span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col gap-2">
                    <p th:utext="#{form.newRegistration.section2.text1}"></p>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                    <div>
                        <label for="phone" class="block text-sm font-medium" th:text="#{message.mobilePhone}">Mobil</label>
                        <input type="tel" id="phone" name="phone" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" th:field="*{smsNumber}" />
                        <div th:if="${#fields.hasErrors('smsNumber')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                            <i class="fa-solid fa-triangle-exclamation"></i>
                            <span th:errors="*{smsNumber}" class="ml-1"></span>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                    <div class="md:col-span-2">
                        <fieldset class="space-y-2">
                            <legend class="block text-sm font-medium" th:text="#{message.contactAddress}">
                                Contact address
                            </legend>
                            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                                <div>
                                    <input type="text" name="contact_address_line1" th:placeholder="#{message.addressName}" class="block w-full border border-gray-300 bg-gray-300 rounded-md shadow-sm focus:outline-none focus:border-gray-300 focus:ring-0 sm:text-sm cursor-not-allowed" th:field="*{contactAddress0}" readonly />
                                    <div th:if="${#fields.hasErrors('contactAddress0')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                                        <i class="fa-solid fa-triangle-exclamation"></i>
                                        <span th:errors="*{contactAddress0}" class="ml-1"></span>
                                    </div>
                                </div>
                                <div>
                                    <input type="text" name="contact_address_line2" th:placeholder="#{message.streetHouseNum}" class="js-autocomplete-address block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" th:field="*{contactAddress1}" />
                                    <div th:if="${#fields.hasErrors('contactAddress1')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                                        <i class="fa-solid fa-triangle-exclamation"></i>
                                        <span th:errors="*{contactAddress1}" class="ml-1"></span>
                                    </div>
                                </div>
                                <div>
                                    <input type="text" name="contact_address_line3" th:placeholder="#{message.municipality}" class="block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" th:field="*{contactAddress2}" />
                                    <div th:if="${#fields.hasErrors('contactAddress2')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                                        <i class="fa-solid fa-triangle-exclamation"></i>
                                        <span th:errors="*{contactAddress2}" class="ml-1"></span>
                                    </div>
                                </div>
                                <div>
                                    <input type="text" name="contact_zip" th:placeholder="#{message.zipCode}" class="block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" th:field="*{contactZip}" />
                                    <div th:if="${#fields.hasErrors('contactZip')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                                        <i class="fa-solid fa-triangle-exclamation"></i>
                                        <span th:errors="*{contactZip}" class="ml-1"></span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                    <div>
                        <label for="language" class="block text-sm font-medium">
                            <span th:text="#{message.conLng}">Language of communication</span>&nbsp;
                            <span th:title="#{form.text.requiredInformation}">*</span>
                        </label>
                        <select id="language" name="language" class="cursor-pointer mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" th:field="*{conLng}" required />
                            <option th:value="CZE">
                                <span th:text="#{message.czech}">čeština</span>
                            </option>
                            <option th:value="ENG">
                                <span th:text="#{message.english}">angličtina</span>
                            </option>
                        </select>
                        <div th:if="${#fields.hasErrors('conLng')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                            <i class="fa-solid fa-triangle-exclamation"></i>
                            <span th:errors="*{conLng}" class="ml-1"></span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col gap-2">
                    <p th:utext="#{form.newRegistration.section2.text2}"></p>
                </div>
                <div class="flex flex-col gap-2">
                    <h3 class="text-md md:text-2xl font-semibold" th:text="#{form.newRegistration.section3.title}"></h3>
                    <h4 class="text-md md:text-xl font-semibold" th:text="#{form.newRegistration.section2.subtitle}"></h4>
                    <p th:utext="#{form.newRegistration.section3.text1}"></p>
                    <h4 class="text-md md:text-xl font-semibold" th:text="#{form.newRegistration.section3.block1.h}"></h4>
                    <p th:utext="#{form.newRegistration.section3.block1.text}"></p>
                    <h4 class="text-md md:text-xl font-semibold" th:text="#{form.newRegistration.section3.block2.h}"></h4>
                    <p th:utext="#{form.newRegistration.section3.block2.text}"></p>
                    <h4 class="text-md md:text-xl font-semibold" th:text="#{form.newRegistration.section3.block3.h}"></h4>
                    <p th:utext="#{form.newRegistration.section3.block3.text}"></p>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                    <div>
                        <label for="rfid" class="block text-sm font-medium" th:text="#{message.rfid}"></label>
                        <input type="text" id="rfid" name="rfid" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" th:field="*{rfid}" />
                        <div th:if="${#fields.hasErrors('rfid')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                            <i class="fa-solid fa-triangle-exclamation"></i>
                            <span th:errors="*{rfid}" class="ml-1"></span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col gap-2">
                    <h3 class="text-md md:text-2xl font-semibold" th:text="#{form.newRegistration.section4.title}"></h3>
                    <p th:utext="#{form.newRegistration.section4.text1}"></p>
                    <div class="flex items-center">
                        <input id="isCasEmployee" name="isCasEmployee" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" th:checked="*{isCasEmployee == true}" th:field="*{isCasEmployee}" />
                        <label for="isCasEmployee" class="ml-2 mb-0 font-medium" th:text="#{message.iAmCasEmployee}">
                            I am a CAS employee
                        </label>
                        <div th:if="${#fields.hasErrors('isCasEmployee')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                            <i class="fa-solid fa-triangle-exclamation"></i>
                            <span th:errors="*{isCasEmployee}" class="ml-1"></span>
                        </div>
                    </div>
                </div>
                <div id="files-control" class="flex flex-col items-center pl-4 gap-2">
                    <label for="media" class="block font-medium">
                        <h4 class="text-md md:text-xl font-semibold">
                            <span th:text="#{message.uploadIdFiles}">Upload your ID card, passport or other proof of identity</span>&nbsp;
                            <span th:title="#{form.text.requiredCasEmployeeInformation}">**</span>
                        </h4>
                        <div class="text-sm" th:text="#{message.uploadIdFilesFormat}">PDF, JPG, JPEG or PNG formats with a maximum size of 20 MB</div>
                    </label>
                    <input id="files" type="file" class="filepond mb-0" name="media" multiple data-max-file-size="20MB" data-max-files="3" />
                    <div th:if="${#fields.hasGlobalErrors()}" th:each="err : ${#fields.globalErrors()}" class="flex items-baseline my-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium">
                        <i class="fa-solid fa-triangle-exclamation"></i>
                        <span th:text="${err}" class="ml-1"></span>
                    </div>
                </div>
                <div class="flex flex-col mt-4 gap-2">
                    <div th:utext="#{form.newRegistration.declaration0}"></div>
                    <div class="flex gap-3">
                        <input id="declaration1" name="declaration1" type="checkbox" class="mt-1 focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" th:checked="*{declaration1 == true}" th:field="*{declaration1}" th:value="Y" required />
                        <div>
                            <label for="declaration1" class="mb-0 font-medium">
                                <span th:utext="#{form.newRegistration.declaration1}"></span>    
                                <span th:title="#{form.text.requiredInformation}">*</span>
                            </label>
                            <div th:if="${#fields.hasErrors('declaration1')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium"><i class="fa-solid fa-triangle-exclamation"></i><span th:errors="*{declaration1}" class="ml-1"></span></div>
                        </div>
                    </div>
                    <div class="flex gap-3">
                        <input id="declaration2" name="declaration2" type="checkbox" class="mt-1 focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" th:checked="*{declaration2 == true}" th:field="*{declaration2}" th:value="Y" required />
                        <div>
                            <label for="declaration2" class="mb-0 font-medium">
                                <span th:utext="#{form.newRegistration.declaration2}"></span>    
                                <span th:title="#{form.text.requiredInformation}">*</span>
                            </label>
                            <div th:if="${#fields.hasErrors('declaration2')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium"><i class="fa-solid fa-triangle-exclamation"></i><span th:errors="*{declaration2}" class="ml-1"></span></div>
                        </div>
                    </div>
                    <div class="flex gap-3">
                        <input id="declaration3" name="declaration3" type="checkbox" class="mt-1 focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" th:checked="*{declaration3 == true}" th:field="*{declaration3}" th:value="Y" required />
                        <div>
                            <label for="declaration3" class="mb-0 font-medium">
                                <span th:utext="#{form.newRegistration.declaration3}"></span>    
                                <span th:title="#{form.text.requiredInformation}">*</span>
                            </label>
                            <div th:if="${#fields.hasErrors('declaration3')}" class="flex items-baseline mt-2 px-2 text-sm text-start text-red-600 dark:text-red-500 font-medium"><i class="fa-solid fa-triangle-exclamation"></i><span th:errors="*{declaration3}" class="ml-1"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-left text-sm mt-4">
                <p class="text-gray-500">
                    <b>*</b>&nbsp;<span th:text="#{form.text.requiredInformation}">Required information</span>
                </p>
                <p class="text-gray-500">
                    <b>**</b>&nbsp;<span th:text="#{form.text.requiredCasEmployeeInformation}">CAS employees must fill in a valid CAS e-mail address or upload an identity document (identity card / passport)</span>
                </p>
            </div>
            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 mt-5" th:text="#{message.sendRequest}">
                Send request
            </button>
        </form>
    </main>
</body>

</html>