<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

    <head>
        <title th:replace="fragments/head :: head"></title>
    </head>

    <body class="page-identity-reset-password-request">
        <main layout:fragment="content" class="mb-10 container text-center mx-auto">
            <h1 class="mb-6 text-3xl font-extrabold text-center text-gray-900" th:text="#{page.identityPasswordResetRequest.title}">Password change</h1>
            <p class="mb-4">
                <span th:text="#{page.identityPasswordResetRequest.success}">A link to change the password has been sent to your email</span>: <span th:text="${emailTo}"></span>
            </p>
        </main>
    </body>

</html>