<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

  <head>
    <title th:replace="fragments/head :: head"></title>
  </head>

  <body class="page-identity-set-password">
    <main layout:fragment="content" class="mb-10 container mx-auto text-center
      <h1 class="mb-6 text-3xl font-extrabold text-center text-gray-900" th:text="#{page.identityPasswordSetting.title}">Password setting</h1>
      <div th:replace="fragments/form-identity-set-password :: form-identity-set-password"></div>
    </main>
  </body>

</html>