<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

    <head></head>

    <body class="page-identity-set-password-success">
        <div class="no-print" th:text="${sessionId}"></div>
        <main layout:fragment="content" class="mb-10 text-center container mx-auto p-5 flex flex-col items-center justify-center gap-8 print:m-0 print:p-0 print:max-w-none">
            <div id="employee-initial-content" th:if="${!patronLdapSynced}" class="flex flex-col items-center gap-6 w-full">
                <h1 class="mb-6 text-3xl font-extrabold text-center print:text-2xl print:mb-0" th:text="#{page.identityPasswordSetting.success}"></h1>
                <p th:text="#{message.waitForAccountCreation}"></p>
                <!--/* Progress loader */-->
                <div id="patron-username" th:data-value="${alephId}"></div>
                <div th:replace="fragments/progress-loader :: progress-loader"></div>
            </div>
            <div id="employee-final-content" class="flex flex-col items-center gap-8 w-full" th:classappend="${!patronLdapSynced} ? ' hidden' : ''">
                <h1 th:if="${patronIsCasEmployee}" class="text-3xl font-extrabold text-center print:text-2xl print:mb-0" th:text="#{page.completeRegistrationCompleted.title}"></h1>
                <h1 th:if="${!patronIsCasEmployee}" class="text-3xl font-extrabold text-center print:text-2xl print:mb-0" th:text="#{page.identityPasswordSetting.success}"></h1>
                <p th:if="${patronIsCasEmployee}" th:utext="#{page.completeRegistrationCompleted.text}"></p>
                <p th:if="${!patronIsCasEmployee}" th:utext="#{page.identityPasswordSetting.text.paid}"></p>
                <p>
                    <span th:text="#{message.yourUsername}"></span>: <b th:text="${alephBarcode}"></b>
                </p>
                <div>
                    <p th:utext="#{message.doNotForgetUsername}"></p>
                    <p th:utext="#{message.clickOnServiceAndCopyUsername}" class="text-gray-500"></p>
                </div>
                <div>
                    <p th:utext="#{message.doSelect}" class="uppercase text-[1rem] tracking-[8px] font-medium mb-5"></p>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 place-items-center">
                        <a th:href="#{service.eiz.url}" th:data-copy="${alephBarcode}" class="js-gotoservice-btn w-full max-w-xs flex text-xs font-bold leading-[18px] uppercase justify-center py-[10px] px-[20px] rounded-full bg-libcas-blue no-underline text-white hover:text-white focus:outline-none focus:shadow-outline" target="_blank" rel="noopener" tabindex="0">
                            <span th:text="#{service.eiz}"></span>
                            <span class="sr-only" th:text="#{a11y.copiesUsernameAndOpensInNewWindow}"></span>
                        </a>
                        <a th:href="#{service.libraryCatalog.url}" th:data-copy="${alephBarcode}" class="js-gotoservice-btn w-full max-w-xs flex text-xs font-bold leading-[18px] uppercase justify-center py-[10px] px-[20px] rounded-full bg-libcas-blue no-underline text-white hover:text-white focus:outline-none focus:shadow-outline" target="_blank" rel="noopener" tabindex="0">
                            <span th:text="#{service.libraryCatalog}"></span>
                            <span class="sr-only" th:text="#{a11y.copiesUsernameAndOpensInNewWindow}"></span>
                        </a>
                        <a th:href="#{service.digitalLibrary.url}" th:data-copy="${alephBarcode}" class="js-gotoservice-btn w-full max-w-xs flex text-xs font-bold leading-[18px] uppercase justify-center py-[10px] px-[20px] rounded-full bg-libcas-blue no-underline text-white hover:text-white focus:outline-none focus:shadow-outline" target="_blank" rel="noopener" tabindex="0">
                            <span th:text="#{service.digitalLibrary}"></span>
                            <span class="sr-only" th:text="#{a11y.copiesUsernameAndOpensInNewWindow}"></span>
                        </a>
                        <a th:href="#{service.studyRoomWebsite.url}" th:data-copy="${alephBarcode}" class="js-gotoservice-btn w-full max-w-xs flex text-xs font-bold leading-[18px] uppercase justify-center py-[10px] px-[20px] rounded-full bg-libcas-blue no-underline text-white hover:text-white focus:outline-none focus:shadow-outline" target="_blank" rel="noopener" tabindex="0">
                            <span th:text="#{service.studyRoomWebsite}"></span>
                            <span class="sr-only" th:text="#{a11y.copiesUsernameAndOpensInNewWindow}"></span>
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </body>

</html>
