<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

    <head>
        <title th:replace="fragments/head :: head"></title>
    </head>

    <body class="page-identity-set-password-success page--minh70vh">
        <div th:text="${sessionId}"></div>
        <aside th:if="${!patronLdapSynced}" layout:fragment="progres-loader">
            <div id="api-token" th:data-value="${apiToken}"></div>
            <div id="patron-username" th:data-value="${alephId}"></div>
            <div th:replace="fragments/progress-loader :: progress-loader"></div>
        </aside>
        <main id="main" layout:fragment="content" class="mb-10 text-center container mx-auto p-5 flex flex-col items-center justify-center gap-6" th:style="${!patronLdapSynced} ? 'display: none;' : ''">
            <h1 class="mb-6 text-3xl font-extrabold text-center" th:text="#{page.identityPasswordSetting.success}"></h1>
            <p th:if="${patronIsCasEmployee}" th:utext="#{page.identityPasswordSetting.text.paid}"></p>
            <p th:if="${!patronIsCasEmployee}" th:utext="#{page.identityPasswordSetting.text.notPaid}"></p>
            <a th:if="${!patronIsCasEmployee}" href="https://katalog.lib.cas.cz/KNAV/MyResearch/Fines" target="_blank" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 mt-4" th:text="#{message.login}"></a>
        </main>
    </body>

</html>