<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

    <head>
        <title th:replace="fragments/head :: head"></title>
    </head>

    <body class="page-new-registration-success">
        <main layout:fragment="content" class="mb-10 container mx-auto text-center">
            <h1 class="mb-6 text-3xl font-extrabold text-center text-gray-900" th:text="#{page.membershipRenewal.title}">Membership renewal</h1>
            <p th:text="#{page.membershipRenewalSuccess.text}">KNAV identity registration was successful.</p>
            <p th:if="${patronHasEmail && !patronIsCasEmployee}" th:text="#{page.membershipRenewalSuccess.emailSent}">A confirmation with a link to pay the membership fee has been sent to your email.</p>
            <p th:if="${patronHasEmail && patronIsCasEmployee}" th:text="#{page.membershipRenewalSuccess.emailSentToEmployee}">A confirmation has been sent to your email.</p>
            <p>
                <span th:if="${!patronIsCasEmployee}" $th:text="#{page.membershipRenewalSuccess.fee.instructions}">After paying the fee, your membership will be extended until</span>
                <span th:if="${patronIsCasEmployee}" $th:text="#{page.membershipRenewalSuccess.fee.instructionsToEmployee}">Your membership will be extended until</span> <span class="font-bold" th:text="${membershipExpiryDate}"></span>.
            </p>
            <p class="mt-2">
                <span th:text="#{page.membershipRenewalSuccess.username}">Your username</span>: <b th:text="${alephBarcode}"></b>
            </p>
        </main>
    </body>

</html>