<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

    <head>
        <title th:replace="fragments/head :: head"></title>
    </head>

    <body class="page-final-sucess page-membership-renewal-success">
        <main layout:fragment="content" id="main" class="mb-10 container mx-auto text-center print:m-0 print:p-0 print:max-w-none">
            <h1 th:if="${patronIsCasEmployee}" class="mb-6 text-3xl font-extrabold text-center print:text-2xl" th:text="#{page.membershipRenewalSuccess.title}"></h1>
            <h1 th:if="${!patronIsCasEmployee}" class="mb-6 text-3xl font-extrabold text-center print:text-2xl" th:utext="#{page.membershipRenewalSuccess.fee.details}"></h1>
            <h3 th:if="${!patronIsCasEmployee}" th:text="#{page.membershipRenewalSuccess.title}" class="mt-4 mb-4 text-2xl font-extrabold print:text-2xl"></h3>
            <p class="mt-2 text-xl">
                <span th:text="#{message.registrationIsRenewedUntil}"></span>: <b th:text="${membershipExpiryDate}"></b>
            </p>
            <p class="mt-2 text-xl">
                <span th:text="#{message.usernameRemains}"></span>: <b th:text="${alephBarcode}"></b>
            </p>
            <p class="mt-4" th:text="#{page.membershipRenewalSuccess.email.instructions}"></p>
            <p class="mt-4 no-print">
                <a href="https://katalog.lib.cas.cz/KNAV/MyResearch/Fines" target="_blank" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 mt-4" th:text="#{message.login}"></a>
            </p>
        </main>
    </body>

</html>