<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

    <head></head>

    <body class="page-final-sucess page-new-registration-success">
        <main layout:fragment="content" id="main" class="mb-10 container mx-auto text-center print:m-0 print:p-0 print:max-w-none">
            <h1 class="mb-6 text-3xl font-extrabold text-center print:text-2xl" th:text="#{page.newRegistrationSuccess.title}"></h1>
            <p th:if="${!patronIsCasEmployee}" th:utext="#{page.newRegistrationSuccess.text}"></p>
            <p th:if="${!patronIsCasEmployee}" th:utext="#{page.newRegistrationSuccess.text2}" class="mt-5"></p>
            <p th:if="${patronIsCasEmployee}" th:utext="#{page.newRegistrationSuccess.text.employee}"></p>
            <p class="mt-5 text-xl">
                <span th:text="#{page.newRegistrationSuccess.membershipValidUntil}"></span>: <b th:text="${membershipExpiryDate}"></b>
            </p>
            <p class="mt-5 text-xl">
                <span th:text="#{page.newRegistrationSuccess.username}"></span>: <strong th:text="${alephBarcode}"></strong>
            </p>
            <!--/* <p class="mt-4 no-print">
                <h2 class="text-xl font-semibold text-center no-print" th:text="#{page.newRegistrationSuccess.setPassword}"></h2>
            </p> */-->
            <div class="no-print">
                <div th:replace="fragments/form-identity-set-password :: form-identity-set-password"></div>
            </div>
        </main>
    </body>

</html>