<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

    <head>
        <title th:replace="fragments/head :: head"></title>
    </head>

    <body class="page-new-registration-success">
        <main layout:fragment="content" id="main" class="mb-10 container mx-auto text-center">
            <h1 class="mb-6 text-3xl font-extrabold text-center" th:text="#{page.newRegistrationSuccess.title}"></h1>
            <p th:text="#{page.newRegistrationSuccess.text}"></p>
            <p th:text="#{page.newRegistrationSuccess.text2}"></p>
            <!-- <p th:if="${patronHasEmail && !patronIsCasEmployee}" th:text="#{page.newRegistrationSuccess.emailSent}">A confirmation message with a link to pay the membership fee and your username has been sent to your email.</p>
            <p th:if="${patronHasEmail && patronIsCasEmployee}" th:text="#{page.newRegistrationSuccess.emailSentToEmployee}">A confirmation message with your username has been sent to your email.</p>
            <p>
                <span th:if="${!patronIsCasEmployee}" th:text="#{page.newRegistrationSuccess.fee.instructions}">After paying the fee, your membership will be valid until</span>
                <span th:if="${patronIsCasEmployee}" th:text="#{page.newRegistrationSuccess.fee.instructionsToEmployee}">Your membership will be valid until</span> <span th:text="${membershipExpiryDate}"></span>.
            </p> -->
            <p class="mt-2">
                <span th:text="#{page.newRegistrationSuccess.membershipValidUntil}"></span>: <b th:text="${membershipExpiryDate}"></b>
            </p>
            <p class="mt-2">
                <span th:text="#{page.newRegistrationSuccess.username}"></span>: <b th:text="${alephBarcode}"></b>
            </p>
            <p class="mt-4">
                <h2 class="text-xl font-semibold text-center" th:text="#{page.newRegistrationSuccess.setPassword}"></h2>
            </p>
            <div th:replace="fragments/form-identity-set-password :: form-identity-set-password"></div>

            <!-- <div class="hidden mt-2">
                <div class="text-center" style="width: 90%; padding: 10px; color: firebrick; background-color: lightgrey;">
                    Aleph XML batch for creating a new patron
                </div>
                <pre lang="xml" th:text="${xml}" style="padding: 20px; text-align: left; background-color: lightyellow; width: 90%;"></pre> 
            </div> -->
        </main>
    </body>

</html>