<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">

<head>
  <title th:replace="fragments/head :: head"></title>
</head>

<body class="page-welcome">
  <main layout:fragment="content" class="text-center container mx-auto">
    <h1 class="mb-5 text-4xl font-extrabold leading-none tracking-tight md:text-5xl lg:text-6xl"
      th:text="#{message.verifyViaBankid}"></h1>
    <a th:href="${loginEndpoint}"
      class="inline-block mt-5 px-6 py-3.5"
      th:insert="~{fragments/svg/btn-bankid :: btn-bankid}" th:title="#{button.verifyViaBankid}"></a>
  </main>
</body>

</html>