<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{emails/cs/layout}">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <table>
        <tr>
            <td layout:fragment="content">
                <h1>Změna hesla</h1>
                <p>
                    <span>Pro změnu hesla navštivte tento odkaz: </span>
                    <a th:href="${pswResetLink}" th:text="${pswResetLink}"></a>
                </p>
            </td>
        </tr>
    </table>
</body>
</html>
