<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Úspěšně jste se zaregistrovali</span>!</h1>
    <div>
        <span>Vaše uživatelské jméno: </span>
        <span th:text="${alephPatronBarcode}"></span>
    </div>
    <div>
        <p th:if="${!isCasEmployee}">Zde je váš <a href="#">odkaz</a> pro platbu.</p>
        <p>
            <span th:if="${!isCasEmployee}">Po zaplacení poplatku bude vaše členství platné do</span>
            <span th:if="${isCasEmployee}">Vaše členství bude platné do</span> <b th:text="${membershipExpiryDate}"></b>.
        </p>
    </div>
</body>
</html>
